#main {
    width: 100vw;
    height: 750px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#main-text {
    width: 45%;
}

#main-heading {
    font-size: 90px;
    margin: 0;
}

#main-subtext {
    font-size: 22px;
}

#main-btn {
    padding: 12px;
    background-color: #011726;
    border: none;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 10px;
}

#main-btn:hover {
    cursor: pointer;
}

#main-other {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-img {
    width: 100%;
    border-radius: 6px;
}

@media only screen and (max-width: 768px) {
    #main {
        display: block;
        height: 100%;
    }

    #main-text {
        width: 90%;
        margin: 0 auto;
        padding: 20px 0;
    }

    #main-other {
        width: 90%;
        margin: 0 auto;
        padding: 20px 0 30px 0;
    }
}