.project-card {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* background-color: navy; */
    color: navy;
    width: 35%;
}

.project-image-container {
    height: 75%;
}

.project-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}

.project-text-container {
    width: 100%;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;
    padding: 20px;
    box-sizing: border-box;
    height: 200px;
    color: #02253b;
    /* background-color: navy; */
    color: navy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
}

.project-text-container h1 {
    margin: 0;
    padding: 10px;
    padding-left: 0;
}

.skills-container {
    display: flex;
    align-items: left;
    padding: 0;
}

.skill-img {
    width: 30px;
    padding: 10px 12px 20px 0;
}

.btn-links-container {
    display: flex;
    height: 100px;
}

.project-link-btn {
    padding: 10px;
    border: none;
    color: white;
    background-color: navy;
    border: 1px solid white;
    border-radius: 6px;
    margin-right: 10px;
    /* margin-bottom: 20px; */
}

.github-img {
    height: 35px;
    margin-top: 2px;
}

.project-link-btn:hover {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .project-card {
        width: 90%;
    }

    .project-text-container {
        height: 300px;
    }
}