.project-card {
    width: 30%;
    background-color: blue;
    margin: 20px 0;
    height: 500px;
}

.project-image-container {
    height: 50%;
}

.project-image {
    height: 100px;
}

.project-link-btn {
    padding: 10px;
}